[Unit]
Description=Redis In-Memory Data Store
After=network.target

[Service]
PIDFile=/var/run/redis/redis_6379.pid
ExecStart=/usr/local/redis/bin/redis-server /usr/local/redis/redis.conf
ExecStop=/usr/local/redis/bin/redis-cli shutdown
Restart=always

[Install]
WantedBy=multi-user.target
